@import "tailwindcss";

body {
  background-color: #fdfeff;
  overflow-x: hidden;
}

@layer components {
  .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 0.25rem;
  }
  .btn:hover {
    background-color: #2563eb;
  }

  .input-box {
    width: 100%;
    font-size: 0.875rem;
    background-color: transparent;
    border-width: 1.5px;
    border-color: #3b82f6;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .icon-btn {
    font-size: 1.25rem;
    cursor: pointer;
  }

  .input-label {
    font-size: 0.75rem; /* text-xs */
    color: #94a3b8;     /* text-slate-400 */
  }
}